@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Party!</title>
</head>
<body>
    <div>
        <div>
            We're going to have an exciting party! <br>
            (Todo: Sell it better, add pictures or something ..) <br>
            <a asp-action="RsvpForm">RSVP Now!</a>
        </div>
    </div>
</body>
</html>